:root{
    --page-background: rgb(240, 242, 242);
    --header-hover-textcolor: #fff;
    --sidebar-hover-background: rgb(55, 55, 55);
    --content-blue:rgb(61, 134, 182);

    /* font size */
    --title: 2.5em;
    --header-list-size: .9em;
    --header-list-hover-height:1.8em; 
    --sidebar-list-size: 1em;
    --sidebar-list-height: 6vh;

    /* margin */
    --page-margin: 2.3em
}

body{
    background-color: rgb(240, 242, 242);
}

/* 
    Nav bar 
*/

/* Header */
header {
    display: block;
    margin-left: -2.5em;
}
header ul {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: -2em;
}
.navItem{
    margin-left: 2em;
    height: var(--header-list-hover-height);
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    transition: 0.2s;
    color: #000;
}
.navItem:hover{
    background-color: var(--sidebar-hover-background);
    color: var(--header-hover-textcolor);
    transition: 0.2s;
}
.navItem.active{
    background-color: var(--sidebar-hover-background);
    color: var(--header-hover-textcolor);
    transition: 0.2s;
}
.navItem a{
    display: inline-flex;
    justify-content: center;
    font-size: var(--header-list-size);
    text-decoration: none;
    color: inherit;
}
header ul li a:hover{
    transition: 0.2s;
}

/* sidebar */
.nav-sidebar.active {
    margin-top: -5%;
    background-color: transparent;
    position:relative;
    transition: all 0.4s ease;
    padding-bottom: 0.1px;
}
.nav-sidebar{
    margin-top: -80%;
    position:fixed;
}
.nav-sidebar ul li{
    display: block;
    text-align: center;
    border-radius: .5em;
}
.nav-sidebar.active ul li{
    height: var(--sidebar-list-height);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-sidebar.active ul {
    width: 90%;
}
.nav-sidebar li:hover{
    color: #fff;
    background-color: var(--sidebar-hover-background);
    transition: 0.6s;
}
.nav-sidebar-link {
    font-size: var(--sidebar-list-size);
    font-weight: 500;
    text-decoration: none;
    color: #000;
}


/* Home page */
.home.container{
    display: flex;
}
.home-selfie img{
    width: 12em;
    border-radius: 0.5em;
}
.home-selfie-desc{
    width: 10em;
}
.home-selfie-desc.email{
    font-size: 0.75em;
}
.home-selfie-desc h1{
    text-align: center;
    line-height: 0.8em;
    font-size: 1.5em;
    color:var(--content-blue);
}
.home-selfie-desc p{
    font-size: 0.75em;
    color: gray;
}

.home-content-container{
    padding-left: var(--page-margin);
}
.home-content-container h1{
    text-align: center;
    line-height: 0.5em;
    font-size: var(--title);
}
/* p below title */
.home-content-intro{
    line-height: 1.7em;
}
.home-content h2{
    margin-top: 2em;
    font-size: 1.5em;
    line-height: 0.5em;
}
.home-content p{
    font-size: 1em;
    line-height: 1.7em;

}
.home-content.card {
    display: flex;
    flex-flow: wrap;
    width: 90%;
}

/* social icons */
.home-socialIcon{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -4em;
    margin-bottom: 0.8em;
}
.home-socialIcon.item{
    font-size: 0.8em;
    margin-left: 2em;
    color:black;
}
.home-socialIcon.item:hover{
    transform: translateY(-2px);
    color: rgb(184, 151, 110);
}


/* Card */
.card h3{
    margin-left: 1%;
    text-align: center;
}

.card :first-child{
    margin-top: 0.5em;
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    width:100%;
    height: fit-content;
    margin-bottom: 1.5em;
    color: white;
}

.card-content{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 80%;
    color:#000;
    padding-left: -0.5em;
}

.card-content a{
    width: 90%;
    font-size: 0.8em;
    text-decoration: none;
    color:gray;
    font-weight: 600;
}

.card4Project-layout{
    display: flex;
    border-radius: 0.5em;
    width:90%;
    margin-bottom: 1.5em;
    color: white;
}

.card4Project {    /* Card for displaying projects */
    width: 30%;
    border-radius: 0.5em;
    height:min-content;
    color: white;
    transition: 0.5s;
    margin-right: 2em;

}

.card4Project-content{

    display: inline-block;
    text-align: start;
    background-color: #fff;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0.5em;
    padding-top: 0.8em;   /* so that the content is central aligned */
    width: 100%;
    color:#000;
    height: fit-content;
    min-height: 2em;
}

.card4Project-content p{
    font-size: 0.9em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    width: 90%;
}
.card4Project-content a{
    width: 90%;
    font-size: .9em;
    text-decoration: none;
    color:gray;
    font-weight: 600;
}

/* Blog Overview */
.blogOverview.container{
    height: 100%;
}

.blogOverview.container h1{
    margin-left: 1em;
    font-size: var(--title);
    line-height: 1em;
}

.blogOverview.container.p{
    margin-left: 2.5em;
    margin-top: -0.75em;
}


/* Blog Detail */
.blogDetail.container {
    padding-left: 3.5em;
    padding-right: 3.5em;
    text-align: start;
    overflow-wrap: break-word;
    /* justify-content: center;
    align-items: center; */
}
.blogDetail.metadata{

    padding-top: 0.5em;
    padding-bottom: 2em;
    /* background-color: var(--content-blue); */
}

.blogDetail.metadata h1{
    color: var(--content-blue);
    text-align: center;
    font-size: var(--title);
}

.blogDetail.metadata p{
    text-align: center;
    color: grey;
    font-size: 1em;
    margin-top: -1em;
    line-height: 0.5em;
}
.blogDetail.image{
    text-align: center;
}

.blogDetail.image img{
    width: 27em;
}

.footer.container {
    text-align: center;
    height: 5em;
    font-size: .9em;
    color: gray;
    clear: both;
    padding-top: 3em;
}