:root{
    --page-background: rgb(240, 242, 242);
    --header-hover-textcolor: #fff;
    --sidebar-hover-background: rgb(55, 55, 55);
    --content-blue:rgb(61, 134, 182);

    /* font size */
    --header-list-size: .9em;
    --header-list-hover-height:1.8em; 
    --sidebar-list-size: 1em;
    --sidebar-list-height: 6vh;

    /* margin */
    --page-margin: 2.3em
}

body{
    background-color: var(--page-background);
}

/* 
    Nav bar 
*/

/* Header */
header {
    display: block;
    margin-left: -2.5em;
}

header ul {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: -2em;
}

.navItem{
    margin-left: 2em;
    height: var(--header-list-hover-height);
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    transition: 0.2s;
    color: #000;
}

.navItem:hover{
    background-color: var(--sidebar-hover-background);
    color: var(--header-hover-textcolor);
    transition: 0.2s;
}

.navItem.active{
    background-color: var(--sidebar-hover-background);
    color: var(--header-hover-textcolor);
    transition: 0.2s;
}

.navItem a{
    display: inline-flex;
    justify-content: center;
    font-size: var(--header-list-size);
    text-decoration: none;
    color: inherit;
}

header ul li a:hover{
    transition: 0.2s;
}

/* sidebar */
.nav-sidebar.active {
    margin-top: -5%;
    background-color: transparent;
    position:relative;
    transition: all 0.4s ease;
    padding-bottom: 0.1px;
}

.nav-sidebar{
    margin-top: -80%;
    position:fixed;
}

.nav-sidebar ul li{
    display: block;
    text-align: center;
    border-radius: .5em;
}

.nav-sidebar.active ul li{
    height: var(--sidebar-list-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-sidebar.active ul {
    width: 90%;
}

.nav-sidebar li:hover{
    color: #fff;
    background-color: var(--sidebar-hover-background);
    transition: 0.6s;
}

.nav-sidebar-link {
    font-size: var(--sidebar-list-size);
    font-weight: 500;
    text-decoration: none;
    color: #000;
}


/* Home page */
.home-container{
    display: flex;
}

.home-selfie{
    margin-left: 2.5%;
}
.home-selfie img{
    width: 12em;
    border-radius: 0.5em;
}

.home-selfie-desc{
    width: 10em;
}

.home-selfie-desc.email{
    font-size: 0.75em;
}

.home-selfie-desc h1{
    text-align: center;
    line-height: 0.8em;
    font-size: 1.5em;
    color:var(--content-blue);
}

.home-selfie-desc p{
    font-size: 0.75em;
    color: gray;
}

.home-content-container{
    width: 100%;
}

.home-content-container h1{
    text-align: center;
    line-height: 0.5em;
    font-size: 2.5em;
}

.home-content-intro{
    margin-left: 2em;
    margin-right:2em;
    line-height: 1.7em;
    text-align: start;
}

.home-content h1{
    text-align: start;
    font-size: 1.5em;
    margin-left: 1.5em;
    margin-top: 2em;
    line-height: 0.5em;
}

.home-content p{
    margin-left: 2.3em;
    margin-right: 2.3em;
    font-size: 1em;
}

.home-content.card {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    margin-left: var(--page-margin);
    margin-right: var(--page-margin);
}


.card.btn_shadow{

    color: white;
    border-radius: 0.5em;
    background: var(--content-blue);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px var(--page-background), -4px -4px 8px var(--page-background);
    transition: 0.2s;
}

.btn_shadow:hover{
    background: var(--content-blue);
    color: white;
    transform: translateY(-5px);
    transition: 0.2s;
}

/* Card */
.card h3{
    margin-left: 0.75em;
}

.card {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5em;
    width:100%;
    height: fit-content;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    color: white;
}

.card-content{
    background-color: #fff;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 75%;
    color:#000;
    display: inline-flex;
    align-items: center;
}

.card-content a{
    width: 100%;
    text-decoration: none;
    color:gray;
    font-weight: 600;
}

.date{
    font-size: 0.85em;
    color: grey;
    width: 20%;
    padding-right: 2em;
    background-color: transparent;
}

.home-socialIcon{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: -4em;
    margin-bottom: 0.8em;
}

.home-socialIcon.item{
    font-size: 0.8em;
    margin-left: 2em;
    color:black;
}

.home-socialIcon.item:hover{
    transform: translateY(-2px);
    color: rgb(184, 151, 110);
}



@media only screen and (max-width: 640px) {
    header {
    height: 4em;
    }
    header ul {
        display: none;
    }

    /* sidebar menu icon */
    .nav-sidebar-icon{
        width:2.7em;
        height:3em;
        margin-left: 10%;
        background: transparent;
        z-index:9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-sidebar-icon::before{
        content:'';
        width:50%;
        height: 0.19em;
        background:rgb(86, 162, 212);
        transform: translateY(-0.2em);
        transition: 0.4s;
    }

    .nav-sidebar-icon:hover::before{
        content:'';
        width:50%;
        height: 0.19em;
        background:rgb(2, 2, 2);
        transform: translateY(-0.2em);
        transition: 0.4s;
    }

    .nav-sidebar-icon::after{
        content:'';
        margin-left: -50%;
        width:50%;
        height: 0.19em;
        background:rgb(86, 162, 212);
        transform: translateY(0.4em);
        transition: 0.4s;
    }
    
    .nav-sidebar-icon:hover::after{
        content:'';
        margin-left: -50%;
        width:50%;
        height: 0.19em;
        background:rgb(2, 2, 2);
        transform: translateY(0.4em);
        transition: 0.4s;
    }

    .nav-sidebar-icon.active::before{
        transform: translateY(0px) rotate(45deg);
    }

    .nav-sidebar-icon.active::after{
        transform: translateY(0px) rotate(-45deg);
    }
    
    /* Home page */
    .home-container{
        display: inline-block;
    }
    .home-selfie{
        text-align: center;
    }
    
    .home-selfie img{
        width: 8em;
        border-radius:0.5em;
    }

    .home-selfie-desc.email{
        display: inline-flex;
        justify-content: center;
        align-items: baseline;
        width:100%;
    }

    .home-selfie-desc{
        width:100%;
    }

    .home-selfie-desc h1{
        text-align: center;
        line-height: 0.8em;
        font-size: 1.8em;
        color:rgb(61, 134, 182);
    }

    .home-selfie-desc p{
        line-height: 0.8em;
        margin-left: 0.4em;
        font-size: 0.7em;
        color: gray;
    }


    .home-content-container h1{
        text-align: center;
        line-height: 1em;
        font-size: 1.5em;
    }

    .home-socialIcon{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-left: 0em;
    }

    .home-socialIcon.item{
        font-size: 0.7em;
        margin-left: 1.4em;
        color:black;
    }

    .home-content-intro{
        margin-top: 3em;
        margin-left: 2em;
        margin-right:2em;
        line-height: 1.7em;
        text-align: start;
    }

    .home-content-intro h1{
        margin-left: 0.5em;
        font-size: 1.8em;
    }

    .home-content h1{
        text-align: start;
        font-size: 1.5em;
        margin-top: 2em;
        line-height: 0.5em;
    }
    
    .home-content p{
        margin-left: 2.3em;
        margin-right: 2.3em;
        line-height: 1.5em;
        font-size: 0.9em;
    }

    .card h3{
        margin-left: 0.75em;
        font-size: 1em;
    }

    .card {
        display: block;
        text-align: start;
        border-radius: 0.5em;
        width: 90%;
        height: fit-content;
        margin-bottom: 2em;
        margin-top: 0.5em;
        color: white;
    }

    .card-content{
        display: block;
        background-color: #fff;
        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0em;
        border-bottom-left-radius: 0.5em;
        width: 100%;
        color:#000;
        height: fit-content;
    }

    .card-content p{
        font-size: 0.8em;
        padding-top: 1em;
        margin-left: 0.75em;
        display: block;
        width: 100%;
    }

    .card-content.date{
        margin-left: 0.75em;
        font-size: 0.7em;
        display: inline-block;
        background-color: transparent;
    }
}

