:root{
    --page-background: rgb(240, 242, 242);
    --page-margin: 2.1em;
    --page-margin-mobile: 1.5em;
    --content-blue:rgb(61, 134, 182);
}

/* Page container */
.container{
    margin-left:var(--page-margin);
    margin-right: var(--page-margin);
}

.shadow{
    color: white;
    border-radius: 0.5em;
    background: var(--content-blue);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px var(--page-background), -4px -4px 8px var(--page-background);
    transition: 0.2s;
}

.shadow:hover{
    background: var(--content-blue);
    color: white;
    transform: translateY(-5px);
    transition: 0.2s;
}

.date{
    font-size: 0.85em;
    color: grey;
    width: 10em;
    margin-left: -1em;
    padding-right: 0em;
    background-color: transparent;
}

.hide{
    display: none;
}
