:root{
    --page-background: rgb(240, 242, 242);
    --page-margin: 2.3em;
    --page-margin-mobile: 1em;
}

/* Page container */
.container{
    padding-left: var(--page-margin);
    padding-right: var(--page-margin);
}

@media only screen and (max-width: 640px) {
    .container{
        padding-left: 0em;
        padding-right: 0em;
    }
}
